#app {
  width: 100%;
}
.display-area {
  text-align: center;
}

.sidebar-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.hospital-list {
  list-style-type: none;
  font-size: 14px;
}

.hospital-list li a {
  color: #222222;
}

.news-source {
  float: right;
  font-size: 12px;
}
.other-news{
  text-align: left;
}